.body {
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
	background: #FFFFFF;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
	box-sizing: border-box;
	grid-area: body;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 32px;
	scroll-behavior: smooth;
}

.chart-caption {
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	background-color: #DDD;
	border: 1px solid #DDD;
	box-sizing: border-box;
	color: #333333;
	display: block;
	margin-top: 0;
	padding: 8px;
	user-select: none;
	width: 100%;
}

.chart-container {
	border: 1px solid #DDDDDD;
	box-sizing: border-box;
	height: 500px;
	margin: 16px auto 0;
	padding: 12px 24px;
	width: 100%;
}

.chart-container-resize {
	max-height: 500px;
	max-width: 100%;
	min-height: 250px;
	min-width: 50%;
	overflow: hidden;
	position: relative;
	resize: both;
}

.col {
	display: table-cell;
}

.col-container {
	display: table;
	width: 100%;
}

.colors td {
	padding: 8px 0 32px 8px !important;
}

.config-default {
	display: block;
	font-weight: 400;
}

.config-table {
	border: 1px solid #DDDDDD;
	border-collapse: collapse;
	width: 100%;
}

.config-table pre {
	margin: 16px 0 !important;
}

.config-table>em {
	display: block;
	margin-top: 16px;
}

.config-table td {
	font-family: Roboto;
	font-weight: 300;
	padding: 8px 16px;
}

.config-table th {
	background-color: #CCCCCC;
	color: #333333;
	font-family: Roboto;
	font-weight: 300;
	padding: 8px 16px;
	text-align: left;
}

.config-table tr {
	border-top: 1px solid #DDD;
}

.config-table tr td:nth-child(1) {
	background-color: #EEEEEE;
	text-align: left;
	vertical-align: top;
}

.config-type {
	display: block;
	font-weight: 400;
	padding-bottom: 6px;
	padding-top: 24px;
}

.content-table {
	grid-area: content-table;
	overflow-x: hidden;
	overflow-y: auto;
}

.grid-container {
	display: grid;
	grid-template-areas: "head head head" "navigation body content-table";
	grid-template-rows: min-content 1fr;
	height: 100%;
}

.head {
	-webkit-box-shadow: 0 0 5px 5px rgba(0,0,0,0.3);
	background-color: #009688;
	box-shadow: 0 0 5px 5px rgba(0,0,0,0.3);
	color: #FFFFFF;
	grid-area: head;
	padding: 16px 32px;
	z-index: 1;
}

.head-title {
	margin: 0;
}

.mini-hr {
    height: 5px;
    width: 50px;
    border-radius: 10px;
    background: #EEEEEE;
    transform: translate(-25px, 0px);
    margin: 32px 50%;
    border: none;
}

.navigation {
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
	background: #FFFFFF;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
	grid-area: navigation;
	overflow-x: hidden;
	overflow-y: auto;
}

.navigation>hr {
	margin: 16px 32px;
}

.navigation-active {
	-moz-border-radius: 0 20px 20px 0;
	-webkit-border-radius: 0 20px 20px 0;
	background: #009688!important;
	border-radius: 0 20px 20px 0;
	color: #FFFFFF!important;
	cursor: default;
	display: block;
	pointer-events: none;
	width: 80%;
}

.navigation-head {
	font-weight: 400;
	margin: 2px 0;
	padding: 4px 0 4px 32px;
}

.navigation-link {
	color: #444444;
	cursor: pointer;
	display: block;
	margin: 3px 0;
	padding: 6px 0 4px 32px;
	text-decoration: none;
}

.navigation-link:hover {
	-moz-border-radius: 0 20px 20px 0;
	-webkit-border-radius: 0 20px 20px 0;
	background: #EEEEEE;
	border-radius: 0 20px 20px 0;
	width: 80%;
}

.pull-tab {
	-webkit-transform: rotate(-45deg);
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #666666;
	bottom: -3px;
	height: 0;
	pointer-events: none;
	position: absolute;
	right: -15px;
	transform: rotate(-45deg);
	width: 0;
	z-index: 2;
}

.toc {
	border-left: 3px solid #009688;
	list-style-type: none;
	margin-top: 32px;
	padding-inline-start: 16px;
}

.toc li {
	padding: 4px 0;
}

.toc a {
	color: #222222;
	text-decoration: none;
}

.toc>ul {
	list-style-type: none;
	padding-inline-start: 24px;
}

a:hover {
	opacity: 0.7;
}

body {
	height: 100vh;
	margin: 0;
	overflow-y: hidden;
}

body,h1,h2,h3,h4,h5,h6,button,p {
	color: #555555;
	font-family: Roboto;
	font-weight: 300;
}

button {
	background-color: #009688;
	border: none;
	border-radius: 6px;
	box-sizing: border-box;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-family: Roboto,sans-serif;
	font-weight: 300;
	margin: 0 8px 0 0;
	outline: none;
	padding: 8px 12px;
	text-align: center;
	text-decoration: none;
	transition: all .2s;
}

button:disabled {
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	opacity: 0.5;
	pointer-events: none;
	user-select: none;
	background-color: #666666;
}

button:hover {
	background-color: #666666;
}

div::-webkit-scrollbar {
	width: 6px;
}

div::-webkit-scrollbar-button {
	height: 0;
	width: 0;
}

div::-webkit-scrollbar-corner {
	background: transparent;
}

div::-webkit-scrollbar-thumb {
	background: #009688;
	border: 0 none #FFFFFF;
}

div::-webkit-scrollbar-thumb:hover,
div::-webkit-scrollbar-thumb:active {
	background: #008377;
}

div::-webkit-scrollbar-track {
	background: #EEEEEE;
	border: 0 none #FFFFFF;
	border-radius: 50px;
}

div::-webkit-scrollbar-track:hover,
div::-webkit-scrollbar-track:active {
	background: #EEEEEE;
}

h1 {
	margin-top: 0;
}

h2 {
	background: #EEEEEE;
	margin: 32px -32px;
	padding: 32px;
    box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.15);
}

h3 {
	font-weight: 400;
}

hr {
		background: #DDDDDD;
		border: 1px solid #DDDDDD;
		margin: 32px;
}

html {
	scroll-behavior: smooth;
}

pre {
	border: 1px solid #999999;
	box-sizing: border-box;
	margin: 0 !important;
	width: 100%;
}

@media screen and (min-width: 0px) {
	.grid-container {
		grid-template-columns: 0px 1fr 0px;
		gap: 0;
	}
	.content-table {
		display: 'none';
	}
	.navigation {
		display: 'none';
	}
}
@media screen and (min-width: 1150px) {
	.grid-container {
		grid-template-columns: 250px 1fr 0;
		gap: 0 16px;
	}
	.content-table {
		display: 'none';
	}
	.navigation {
		display: 'block';
	}
}
@media screen and (min-width: 1400px) {
	.grid-container {
		grid-template-columns: 250px minmax(auto, 1100px) minmax(250px, auto);
		gap: 0 32px;
	}
	.content-table {
		display: 'block';
	}
	.navigation {
		display: 'block';
	}
}